<div class="jumbotron">
  <h1 class="display-4">Hi there!</h1>
  <p class="lead">This is a simple CRUD app to save your contacts online.</p>
  <hr class="my-4">
  <p>Here are some of the features:</p>
  <ul class="list-group">
  <li class="list-group-item">Create profile</li>
  <li class="list-group-item">Add contacts</li>
  <li class="list-group-item">Update, delete contacts</li>
  <li class="list-group-item">Unique page for each contact </li>
  <li class="list-group-item">Update your account</li>
</ul>
</div>